<form action="/action_page.php" method="get" accept-charset="utf-8">
  <label for="username">username:</label>
  <input type="text" id="username" username="username"><br><br>
  <label for="email">email:</label>
  <input type="email" id="email" name="email"><br><br>
  <label for="password">password:</label>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="Submit">
</form>